AVD_NAME=FdroidCommunity_Disposable_API34
AVD_IMAGE_PACKAGE="system-images;android-34;default;x86_64"
AVD_DEVICE_PROFILE=pixel_7
EXPECTED_ANDROID_API=34
EMULATOR_PORT=5580
ADB_SERVER_PORT=5041
ANDROID_BUILD_TOOLS_VERSION=36.0.0
